.Oportunidades{
    width: 100%;
}

.Oportunidades-barra-pesquisa-fundo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgb(3,4,94);
    background: linear-gradient(90deg, rgba(3,4,94,1) 20%, rgba(0,150,199,1) 80%);
}

.Oportunidades-fundo-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.Oportunidades-cards{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

@media(min-width: 992px){

    .Oportunidades-barra-pesquisa{
        width: 80%;
        display: flex;
        justify-content: end;
    }

    .Oportunidades-cards{
        flex-direction: row;
        flex-wrap: wrap;
    }
}