.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #03045E;
}

.navbar a{
    text-decoration: none;
    cursor: pointer;
    color: #03045E;
}

.navbar h1{
    font-size: larger;
    cursor: pointer;
}

.navbar img{
    display: none;
}

@media screen and (min-width: 992px){
    .navbar{
        justify-content: space-around;
        align-items: center;
        flex-direction: row;     
    }

    .navbar img{
        display: flex;
        height: 105px;
        width: auto;
    }
}

