.Oportunidades{
    width: 100%;
}

.Oportunidades-barra-pesquisa{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background: rgb(3,4,94);
    background: linear-gradient(90deg, rgba(3,4,94,1) 20%, rgba(0,150,199,1) 80%);
}

.Oportunidades-barra-pesquisa select{
    margin: 3vh 0;
    padding: 0.5vh 2vh;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    color: #023E8A;
}

@media(min-width: 992px){

}